.filter {
    display: inline;
    font: inherit;
    font-size: small;
    margin: 5rem auto 0.5rem 0rem ;
    padding: 5px;
    height: 1.5rem;
    width: 200px;
    text-align: left;
    border-radius: 3px;
    border: 1.5px solid rgb(67, 114, 127);
}