.container {
    width: 70%;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.section button {
    position: relative;
    color: white;
    background-color: rgb(49, 133, 156);
    border: 1px solid rgb(49, 133, 156);
    padding: 5px 5px;
}

.section button :hover,
.section button :active {
    background-color: rgb(9, 43, 48);
    border-color: rgb(9, 43, 48);
}

.section button:focus {
    outline: none;
}

.section input {
    position: relative;
    display: inline-flex;
    /* justify-content: center;
    align-items: center; */
    font: inherit;
    font-size: small;
    /* margin: 1rem auto; */
    padding: 5px;
    height: 1.5rem;
    width: 200px;
    text-align: left;
    border-radius: 3px;
    border: 1.5px solid rgb(67, 114, 127);
}