.table {
    table-layout: fixed;
    width: 70%;
    border: 0.1px solid rgb(31, 73, 125);
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.table th {
    font-weight: normal;
    color: white;
    background-color: rgb(31, 73, 125);
    height: 2.5rem;
}

.table td {
    color: black;
    background-color: white;
    border-left: none;
    border-bottom: 0.1px solid rgb(31, 73, 125);
    height: 2.5rem;
}