.table {
    table-layout: auto;
    width: 100%;
    border: 0.1px solid rgb(31, 73, 125);
    margin: auto;
    justify-content: center;
    text-align: left;
    border-collapse: collapse;
    font-family: inherit;
    font-size:medium;
}

.table th {
    font-weight: normal;
    color: white;
    background-color: rgb(31, 73, 125);
    height: 2.5rem;
}

.table td {
    color: black;
    background-color: white;
    border-left: none;
    border-bottom: 0.1px solid rgb(31, 73, 125);
    height: 2.5rem;
    width: 1px;
    white-space: nowrap;
    padding: 3px;
}
.text {
    display: flex;
    margin: auto;
    justify-content: center;
}